<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570231216175-09i6c2mtsd2sd0aoplcrmudsg9opc2cc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570231216175-09i6c2mtsd2sd0aoplcrmudsg9opc2cc</string>
	<key>API_KEY</key>
	<string>AIzaSyAiXqIEGXfY5V4vGmDC4c_X8Hb1JHJqWY4</string>
	<key>GCM_SENDER_ID</key>
	<string>570231216175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatFire</string>
	<key>PROJECT_ID</key>
	<string>chat-app-e15e1</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-e15e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570231216175:ios:a43c1b60e9525b2323ceda</string>
</dict>
</plist>